* {
  box-sizing: border-box;
}

.header {
  display: flex;
  box-sizing: border-box;
  border: solid;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #448aff;
  color: white;
}

.logo {
  flex: 25%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}

.inicio {
  padding-left: 8px;
  font-weight: 900;
}

.menu {
  flex: 50%;
}

.anchor {
  text-decoration: none;
  color: white;
  font-weight: 550;
}

.menu .separador {
  border-right: solid black;
  padding-right: 5px;
}

.vacio {
  flex: 25%;
}

.tittle-container {
  display: flex;
  flex-direction: row;
}

.event-tittle {
  flex: 70%;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
  padding: 0px 100px 0px 100px;
}

.phantom-tag {
  flex: 30%;
  padding: 30px;
}

.tag {
  font-size: 20px;
  padding: 4px 4px 4px 4px;
  margin-left: 10px;
  background-color: #f19000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.tag:hover {
  background-color: #faa629;
}

.tag:active {
  background-color: #f19000;
}

.main-event {
  display: flex;
  align-items: flex-start;
}

.phantom {
  padding: 0px 10px 0px 10px;
}

.photo {
  max-width: 800px;
  max-height: 800px;
}

.event-summary {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 40px;
}

.date {
  color: #333333;
  display: flex;
  flex-direction: column;
  border-top: 1px #888 solid;
  border-bottom: 1px #888 solid;
  padding: 23px 0px 20px 0px;
}

.event-day {
  padding-bottom: 10px;
}

.resumen-event-summary {
  color: #333333;
  padding: 0px 20px 0px 0px;
}

.keywords {
  color: #333333;
  font-size: 12px;
  margin-top: 30px;
}

.palabras-clave {
  font-size: 12px;
  padding: 0px 4px 0px 4px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  color: #888;
  text-decoration: none;
  outline: 0;
}

.palabras-clave:hover {
  background-color: #fff;
  color: #448aff;
}

.palabras-clave:active {
  color: #0a4fc2;
}

.titulo-del-evento {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
}

.description-event {
  padding: 0px 80px;
}

.otras-imagenes {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
}

.url-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
