<header class="header">
  <div class="logo">
    <a href="https://www.teo.gal">
      <img
        alt="logo concello de Teo"
        src="./images/logo_concello_teo_pequeno.png"
      />
    </a>
  </div>
  <nav class="menu">
    <a class="anchor separador" href="./index.html">Inicio</a>
    <a class="anchor separador" href="https://www.teo.gal">Cultural</a>
    <a class="anchor separador" href="https://www.teo.gal">Deportivos</a>
    <a class="anchor separador" href="https://www.teo.gal">Avisos</a>
    <a class="anchor" href="https://www.teo.gal">Contacto</a>
  </nav>
  <div class="empty"></div>
</header>
