* {
  box-sizing: border-box;
}

.search-buttons {
  color: white;
  border-radius: 6px;
  border: solid #1a6eff;
  background-color: #1a6eff;
  padding: 0px 15px;
  height: inherit;
  font-size: 15px;
  margin: 0px 2px;
}

.arrow-button {
  color: #1a6eff;
  background-color: white;
  border: 1px solid #1a6eff;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  font-size: 20px;
  height: inherit;
  margin: 0px 2px;
}

.pagination-container {
  display: flex;
}

.empty-div {
  flex: 75%;
}

.pagination-buttons {
  display: flex;
  flex: 25%;
  height: 30px;
}

.search-buttons:hover {
  background-color: #0a4fc2;
  border: solid #0a4fc2;
}

.search-buttons:active {
  background-color: #083a91;
  border: solid #083a91;
}

.arrow-button:hover {
  background-color: #e3e5e6;
  border: 1px solid #e3e5e6;
}

.arrow-button:active {
  background-color: #7f808183;
  border: 1px solid #7f808183;
}
