<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="_pagination.css" />
  </head>
  <body>
    <section class="pagination-container">
      <div class="empty-div"></div>
      <div class="pagination-buttons">
        <button class="search-buttons init-btn">Inicio</button>
        <button class="arrow-button left-btn">«</button>
        <button class="arrow-button right-btn">»</button>
        <button class="search-buttons fin-btn">Fin</button>
      </div>
    </section>
  </body>
</html>
