<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="_search.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2 class="page-title">Título de la página</h2>

    <div class="search-container">
      <button class="search-buttons all-button">Todos</button>
      <select class="categories">
        <option value="" selected>Categorías</option>
        <option value="">Cultura</option>
        <option value="">Deporte</option>
        <option value="">Otros</option>
      </select>
      <div class="dates">
        <label for="init-date">Data de inicio</label>
        <input id="init-date" type="date" />
        <span class="init-calendar" role="img" aria-label="Calendar_spiral">
          🗓
        </span>
        <label for="final-date">Data de fin</label>
        <input id="final-date" type="date" /><span
          class="final-calendar"
          role="img"
          aria-label="Calendar_spiral"
        >
          🗓
        </span>
      </div>
      <button class="search-buttons filter-button">Filtrar</button>
    </div>
  </body>
</html>
